@import "../../../styles/theme";

.info-card {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem 0;

  .title-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .icon {
    color: $primary-text-dark;
    margin-right: 0.5rem;
  }

  .details {
    h4 {
      margin: 0;
      font-size: 1rem;
      color: $primary-text-dark;
    }

    .content {
      margin: 0;
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
