<div class="view">
  <div class="input-form">
    <form (ngSubmit)="searchWeather()">
      <input
        class="city-search-input"
        type="text"
        [(ngModel)]="city"
        name="city"
        placeholder="City Name"
        required
      />
      <button class="city-submit-btn" type="submit" mat-fab extended>
        Search
      </button>
    </form>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="isLoading; else weatherDataTemplate" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #weatherDataTemplate>
    <div *ngIf="weatherData; else noWeatherDataTemplate">
      <section class="weather-summary">
        <div>
          <h1 class="weather-location">
            {{ weatherData.name }}, {{ weatherData.sys.country }}
          </h1>
          <p class="weather-type">{{ weatherData.weather[0].description }}</p>
          <p class="weather-celsius">
            {{ weatherData.main.temp | number: "1.0-0" }} °C
          </p>
        </div>
        <div>
          <img
            [src]="getWeatherIconUrl(weatherData.weather[0].icon)"
            alt="Weather Icon"
          />
        </div>
      </section>

      <section class="info-card">
        <h4>SUNRISE & SUNSET</h4>
        <div class="sun-status-wrapper">
          <div class="sun-status">
            <h5>Sunrise</h5>
            <p>{{weatherData.sys.sunrise * 1000 | date:'H:mm'}}</p>
          </div>

          <div class="sun-status">
            <h5>Sunset</h5>
            <p>{{weatherData.sys.sunset * 1000 | date:'H:mm'}}</p>
          </div>

          <div class="sun-status">
            <h5>Total Sun Time</h5>
            <p>{{(weatherData.sys.sunset - weatherData.sys.sunrise) / 3600 | number:'1.0-1'}} hours</p>
          </div>
        </div>
      </section>

      <section class="info-card">
        <h4>AIR CONDITIONS</h4>
        <div class="info-card-grid">
          <app-info-card [icon]="'thermostat'" title="Real Feel">
            {{ weatherData.main.feels_like | number: "1.0-0" }}
            <span class="weather-unit">°C</span>
          </app-info-card>

          <app-info-card [icon]="'wind_power'" title="Wind">
            <div class="wind-section">
              <p>
                {{ weatherData.wind.speed | number: "1.0-0" }}
                <span class="weather-unit">km/h</span>
              </p>
              <p class="weather-wind-secondary">
                Gusts:
                {{ weatherData.wind.gust || "?" }} km/h | Direction:
                {{ weatherData.wind.deg | windDirection }}
              </p>
            </div>
          </app-info-card>

          <app-info-card [icon]="'cloud'" title="Atmospheric Pressure">
            {{ weatherData.main.pressure || "?" }}
            <span class="weather-unit">hPa</span>
          </app-info-card>

          <app-info-card [icon]="'foggy'" title="Humidity">
            {{ weatherData.main.humidity || "?" }}
            <span class="weather-unit">%</span>
          </app-info-card>
        </div>
      </section>

      <div>
        <p class="resources-warning">
          Resourced marked with a question mark (?) show that the weather
          phenomena have not happened or have not been measured for the location
          chosen.
        </p>
      </div>
    </div>
  </ng-template>

  <ng-template #noWeatherDataTemplate>
    <div class="no-weather">
      <p>Please search for a city.</p>
    </div>
  </ng-template>
</div>
