@import "../../../styles/theme";

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.navigation-btns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
